@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
    flex-direction: column;
}

.topbar{

   color:white;
   height: 30px;
   background-color: black;

   font-family: Roboto; 
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   
}

.topbar p{
    margin-left: 10px;
}

.derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;   
    align-items: center;
    margin-right: 10px;
}


.subheader{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F0A83E;
    color:white;
}



.logo Img{

    display: inline;
    max-width:100%;
    align-self: center;
}



.redireccionables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;
}

.negro{

    color:black;

}


.banner {
    
    height: 409px;
    display: flex;
    position: relative;
    background-color: #9FDBB7;
    
}

.banner img{

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

.mensajesBanner{
    margin-top: auto;
    margin-bottom: auto;
}


.mensajeDeBienvenida p{
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

.mensajeDeDescuento{
    width: 100%;
    height: 19px;
}   

.mensajeDeDescuento p{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;  

}

.comederos{

    background-color: #F0A83E;
    font-size: 16px;
    text-align: center; 
    text-decoration: none;   
}

.comederos p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.productosDestacados{

    display: flex;
    flex-direction: column;
    text-align: center;
}

.patitaCentral{

    color: orange;
    font-size: 71px;
}

.textoDestacados{

    font-family: Roboto;
    font-style: normal;
}

.textoDestacados h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 47px;
}

.textoDestacados p{
    font-size: 18px;
    display: inline;   
    margin-left: 13px;
    color: #666666;
}

.imagenesDestacadas{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    flex-wrap:wrap ;
    left: 500px;
}

.producto{
    background-color: #FBFAF6;
    margin: 10px;
    margin-bottom: 68px;
    margin-top: 40px;
}

.producto p{ 
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: bold;
    font-size: 15px;
    line-height: 18px;
}

.precioProductoDestacado{

    color: #F0A83E;
    
}

.contactanos{

    align-items: center;
    display: flex;
    height: 339px;
    flex-direction: column;
}

.contactanos h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputForm{

    width: 100%;
    height: 40px;
    border-radius: 15px;

    background-color: #3C2313;
    color:white;
    
    margin-top: 10px;
}


.inputForm::placeholder{

    color:white;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resetear{
    background-color: #8A8787;
    width: 110px;
    height: 34px;
    border-radius: 25px;
    color: white;
    margin: 10px;
}

.subir{
    background-color: #F0A83E;
    width: 110px;
    height: 34px;
    border-radius: 25px;
    color:white;
    margin: 10px;
}


footer{
    color:white;
}

.barraSuperiorFooter{
    height: autopx;
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.suscripcion{

    display: flex;
    flex-direction:row;
}

.mailSuscripcion{
    width: 271px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    color:white;

}

.botonSuscribirse{
    background-color: #3C2313;
    width: 70px;
    height: 34px;
    border-radius: 15px;
    color:white;
    font-size: 9px;
    line-height: 11px;
}

.contenidoFooter{
    background-color: #3C2313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barraInferiorFooter{
    background-color: black;
    height: 20px;
    text-align: center;
}


.infoLocal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.cajasInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
}


.circuloFooter{
    width: 50px;
    height: 50px;
    bottom: 23px;
    margin-left: 1%;
    border-radius: 100%;
    background-color: #786960;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footI{
    color: white;
    font-size: large;
}


.textoInfo{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.textoInfo h2{
    
    font-size: 20px;
    line-height: 23px;
    margin-top: 0%;
}

.textoInfo p{

    color:#8A8787;
    font-size: 10px;
    line-height: 12px;
    margin-top:-15px;
}

.logoFooter{

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
   
}

.logoFooter Img{

    display: flex;
    max-width:100%;
}

.naranja{
    color: #F0A83E;
}

.divComederos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


@media only screen and (max-width:415px){
    .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
    }

    .mensajesBanner{
        position: absolute;
        width: 95%;
        left: 2.5%;
        top: 30%;
        text-align: center;
    }

    .comederos{
        width: 100%;
        min-height: 100%;
        max-height: 200%;
    }

    .imagen_banner{
        width: 1024px;
        max-height: 100%;
        background: url("../img/bowl-phone.png");
    }

    .divComederos{
        position: relative;
        background-color: #F0A83E;
        width: 141px;
        height: 49px;

    }

    .mensajeDeBienvenida{
        position: relative;
        flex-wrap: wrap;
        text-align: center;
        width: 100%; 
        background-color: white;
    }

    .mensajeDeDescuento p{
        color: white;
    }

    .contenidoFooter{
        background-color: #3C2313;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
        
    .infoLocal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 65%;
        height: auto;
    }

    .logoFooter{
        width: 45%;

    }
    
}

@media only screen and (min-width:415px) and (max-width:1365px){
    .logo{

        display: flex;
        flex-direction: row;
       
    }

    .mensajesBanner{
        position: absolute;
        width: 50%;
        right: 0;
        top: 30%;
        text-align: center;
    }

    .mensajesBanner *{
        margin-left: auto;
        margin-right: auto;
    }

    .comederos{
        width: 100%;
        min-height: 100%;
        max-height: 200%;
    }

    .imagen_banner{
        width: 100%;
        max-height: 100%;
        background: url("../img/bowl-and-pet-daities-on-green-background 1.png");
    }

    .divComederos{
        position: relative;
        background-color: #F0A83E;
        width: 141px;
        height: 49px;
    }

    .mensajeDeBienvenida{
        position: relative;
        flex-wrap: wrap;
        text-align: center;
        width: 90%; 
        background-color: white;
    }

    .mensajeDeDescuento p{
        color: white;
    }

    .infoLocal{
        width: 50%;
    }
}

@media only screen and (min-width:1366px) {
    .logo{

        display: flex;
        flex-direction: row;
    }

    .mensajesBanner{
        position: relative;
        width: 25%;
        height: 54px;
        bottom: 7.5vh;
        margin-right: 5%;
    }

    .imagen_banner{
        width: 1024px;
        max-height: 100%;
        background: url("../img/bowl-and-pet-daities-on-green-background 1.png");
    }

    .comederos{
        width: 100%;
        min-height: 100%;
        max-height: 200%;
    }

    .divComederos{
        position: relative;
        background-color: #F0A83E;
        width: 141px;
        height: 49px;
    }

    .mensajeDeBienvenida{
        position: relative;
        flex-wrap: wrap;
        text-align: center;
        width: 100%; 
        background-color: white;
    }

    .mensajeDeDescuento p{
        color: black;
    }

    .infoLocal{
        width: 20%;
        margin-left: 5%;
        justify-content: space-around;
    }

    .logoFooter{
        margin-right: 5%;
    }

    .cajasInfo{
        height: 20%;
    }
}